.overlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden;
    transition: 0.5s; 
  }  
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s;
  }
  .overlay a:hover, .overlay a:focus {
    color: black;
  }
  .overlay a:before{
    content:'';
    position: absolute;
    top:50%;
    left:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(0,0,0,0.1);
    z-index: -1;
    opacity: 0;
    font-size: 5em;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
  }
  .overlay a:hover:before{
    content:attr(data-text);
    opacity: 1;
    letter-spacing: 10px;
    left:50%;
    width: 1800px;
    height: 1800px;
  }
  .overlay div a:nth-child(1):before{
    background: #81ecec;
  }
  .overlay div a:nth-child(2):before{
    background: #fde509;
  }
  .overlay div a:nth-child(3):before{
    background: #e59ff7;
    
  }
  .overlay div a:nth-child(4):before{
    background: #81eccc;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    transition: all 0.5s;
  }
  .overlay .closebtn:hover{
      transform:rotate(90deg);
      transition: all 1s;
  }
  .menu{
    position: absolute;
    top: 20px;
    right: 45px;  
  }
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    .menu{
        top: 15px;
        right: 35px;
    }
  }
span:hover{
    cursor:pointer;
}
i{
    transition: all 0.5s;
    opacity: 1;
    font-size: 20px;
}

span{
    opacity:1;
    transition: all 1s;
    background-color: black;
    width: fit-content;
    height: fit-content;
}
.row{
  display: flex;
  justify-content: center;
}
h1{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: max-content;
  border-radius: 10px;
  padding:5px;
  transition: all 1s ease;
  font-size: 50px;
  transform: translateY(1.5px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
/*h1:hover{
  transform: translateY(1.5px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  transition: all 1s ease;
}*/
h1:hover{
  cursor: none;
}
i{
  font-size: 50px;
}