.card
{
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
    color: whitesmoke;
    border-radius: 10px;
}
.desc{
    text-align: center;
    display: flex;
    justify-content: center;
}
.desc>p{
    max-width: 50vw;
    font-family: 'Fira Sans', sans-serif;
}
img{
    border-radius: 10px;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
a:hover{
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.container{
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
    
}