/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

.spacer{
    flex:1;
}
a{
    text-decoration: none;
    color:black;
}
body{
    min-height: 100vh;
}
body{
    // background-color: rgba(0,0,0,1);
}