<div *ngIf="!loading" class="container-fluid hero-page1">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <h1>Search Your Books here </h1>
            <form [formGroup]="myGroup" (ngSubmit)="search(myGroup.value)">
                <input
                    id="keyword"
                    type="search"
                    class="form-control"
                    placeholder="books"
                    name="query"
                    formControlName="query"
                    matInput
                    (keyup)="searchTerm.next($event)"
                /><br>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<p>{{values}}</p>
<p>{{searchResults | json }}</p>
<ul>
    <li *ngFor="let r of items"> 
        {{r | json }} asdalkn
    </li>
</ul>
<div class="container-fluid mt-4" *ngIf="loading">
    <div class="container">
        <div class="row justify-content-center align-items-center md-5">
            <div class="col-lg-12">
                <input
                    class="form-control"
                    [formControl]='query'
                    type="search"
                    id="keyword"
                    placeholder="Search authors"
                    typehead-wait-ms="delay"
                    autocomplete="off"
                /><br>
                
            </div>
            <div class="col-12 mt-5" *ngIf="items">
                <div class="row justify-content-around">
                    <div class="col-lg-3 col-md-6 col-sm-12 book-display" 
                    *ngFor="let product of items"
                    >
                    <div class="image">
                        <img 
                        *ngIf="product.volumeInfo.imageLinks.thumbnail"
                        src="{{product.volumeInfo.imageLinks.thumbnail}}"
                        alt=""
                        />
                    </div>
                    <div *ngFor="let aut of product.volumInfo.authors">
                        <span>Authors:{{aut}}</span>
                    </div>
                    <div class="details">
                        <span>Title: {{product.volumeInfo.title}}</span> <br />
                        <br />
                        <a [routerLink]="['/new', combineSlug(product.id)]">Details</a>
                        <a (click)="goToLink(product.volumeInfo.previewLink)">preview</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>