input[type=search] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 10px;
    
}
button {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

button:hover, input:hover{
    transform: translateY(1.5px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.row{
    justify-content: center;
    display: flex;
    position: relative;
}
.container{
  position: relative;
}
/****

Card

****/
.card{
  width: 300px;
  height: 400px;
  box-shadow: 0 0 20px rgba(0,0,0,0.9);
  background:#fff;
  position:relative;
  top:200px;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius:10px;
  transition:1s;
  margin-top: 80px;
}
.content{
  position:relative;
  width:100%;
  height:100%;
  text-align:center;
}
.content div{
  margin-top: 0%;
}
.content h2{
  margin-top: -180px;
}
.content p {
  margin-top: -20px;
}
.image{
  position: relative;;
  width:100%;
  height:100%;
  transition:1s;
}
.image img{
  position: relative;
  width:100%;
  height:100%;
  border-radius:10px;
}
.card:hover .image{
  transform: scale(0.7) translateY(-200px);
  box-shadow: 0 0 20px rgba(0,0,0,0.9);
}
/**
 paginator

*/
.paginator{
  bottom:0;
  margin: 50px;
  align-items: center;
}
.mat-paginator{
  background-color: rgba(0,0,0,0);
  color: white;

}
i{
  
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}