input[type=search] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
button {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

button:hover, input:hover{
    transform: translateY(1.5px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.row{
    justify-content: center;
    display: flex;
}
/****

Card

****/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main{
    width:100%;
    height:100vh;
  }
  .box{
    width:300px;
    height:250px;
    background-color: red;
    color:white;
    box-shadow: 10px 10px 10px rgb(131,131,131);
    position:relative;
    flex-direction:column;
    overflow: hidden;
  }
  .box img{
    position: absolute;;
    top:0;
    left:0;
    width:auto;
    height:auto;
    background-color: red;
    transition:all 1s;
  
  }
  .box:hover img{
    height: 250px;
    width: 300px;
    top:10px;
    left:40%;
    border-radius: 50%;
    width:50px;
    height:50px;
  }
  .box h2{
    margin:15px 0px 0px 0px;
    transform: translateY(200px);
    transition:all 1.1s;
  }
  .box p{
    margin:15px 30px 0px 30px;
    transform:translateY(200px);
    transition:all 1.3s;
  }
  .box:hover h2{
    transform: translateY(0px);
  }
  .box:hover p{
    transform: translateY(0px);
  }