<div *ngIf="!loading" class="container-fluid hero-page1">
    <div class="container">
        <div class="row ">
            <form [formGroup]="myGroup" >
                <input
                    id="keyword"
                    type="search"
                    class="form-control"
                    placeholder="books"
                    name="query"
                    formControlName="query"
                    matInput
                    (keyup)="searchTerm.next($event)"
                /><br>
                <button type="submit">Search<i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>
<!--<p>{{values}}</p>-->
<!--<p>{{searchResults | json }}</p>-->
<!--<ol>
    <li *ngFor="let r of items" > 
        <div *ngIf="r.volumeInfo">
            {{r|json }}
            <ul>
               <li *ngFor="let a of r.volumeInfo.imageLinks | keyvalue">
                <div *ngIf="a.key==='thumbnail'">
                    {{a.value}}
                </div>   
               </li> 
            </ul> 
        </div>
    </li>
</ol>-->
<hr>
<div class="main center" *ngFor="let a of BookList">
    <div class="box center">
        <img src="{{a.image}}">
        <h2>{{a.title}}</h2>
        <p>{{a.subtitle}}</p>
        <p>{{a.author}}</p>
        <p>{{a.publisher}}</p>
    </div>
</div>
<ul>
    <li *ngFor="let a of BookList">
        <p>{{a.id}}</p>
        <p>{{a.url}}</p>
        <p>{{a.title}}</p>
        <p>{{a.subtitle}}</p>
        <p>{{a.author}}</p>
        <p>{{a.publisher}}</p>
        <p>{{a.publishedDate}}</p>
        <p>{{a.description}}</p>
        <p>{{a.pageCount}}</p>
        <p>{{a.maturity}}</p>
        <img src="{{a.image}}">
    </li>
</ul>
<!--
<div class="container-fluid mt-4" *ngIf="!loading">
    <div class="container">
        <div class="row justify-content-center align-items-center md-5">
            <div class="col-lg-12">
                <input
                    class="form-control"
                    [formControl]='query'
                    type="search"
                    id="keyword"
                    placeholder="Search authors"
                    typehead-wait-ms="delay"
                    autocomplete="off"
                /><br>
                
            </div>
            <div class="col-12 mt-5" *ngIf="items">
                <div class="row justify-content-around">
                    <div class="col-lg-3 col-md-6 col-sm-12 book-display" 
                    *ngFor="let product of items"
                    >
                    <div class="image">
                        <img 
                        *ngIf="product.volumeInfo.imageLinks.thumbnail"
                        src="{{product.volumeInfo.imageLinks.thumbnail}}"
                        alt=""
                        />
                    </div>
                    <div *ngFor="let aut of product.volumInfo.authors">
                        <span>Authors:{{aut}}</span>
                    </div>
                    <div class="details">
                        <span>Title: {{product.volumeInfo.title}}</span> <br />
                        <br />
                        <a [routerLink]="['/new', combineSlug(product.id)]">Details</a>
                        <a (click)="goToLink(product.volumeInfo.previewLink)">preview</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->